@using Siemens.Simatic.Simulation.Runtime
@inject ISnackbar Snackbar

<MudDialog>
    <DialogContent>
        <MudAlert Severity="Severity.Warning">This is only relevant for TCP/IP and Multiple Adapter enabled in network settings. <br> VirtualSwitchMisconfigured: make sure that the switch is enabled for the given interface, or if you have multiple mappings that "multiple adapter" is enabled.</MudAlert>
        <div>
            <MudText Typo="Typo.h6">Net Interface Mapping Status </MudText>
            <MudText> @selectedInstance.CheckNetInterfaceMapping()</MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6">Interface 1: </MudText>
            <MudSelect T="string" Label="Communication Interface" AnchorOrigin="Origin.BottomCenter" @bind-Value="@interface_1" EmptyValue="No mapping">
                @foreach (var v in SimulationRuntimeManager.NetInterfaces)
                {
                    <MudSelectItem Value="@v.interfaceName">@v.interfaceName</MudSelectItem>
                }
                <MudSelectItem Value="@emptyString">NO MAPPING</MudSelectItem>

            </MudSelect>
        </div>
        <div>
            <MudText Typo="Typo.h6">Interface 2: </MudText>
            <MudSelect T="string" Label="Communication Interface" AnchorOrigin="Origin.BottomCenter" @bind-Value="@interface_2" EmptyValue="No mapping">
                @foreach (var v in SimulationRuntimeManager.NetInterfaces)
                {
                    <MudSelectItem Value="@v.interfaceName">@v.interfaceName</MudSelectItem>
                }
                <MudSelectItem Value="@emptyString">NO MAPPING</MudSelectItem>
            </MudSelect>

        </div>
        <div>
            <MudText Typo="Typo.h6">Interface 3: </MudText>
            <MudSelect T="string" Label="Communication Interface" AnchorOrigin="Origin.BottomCenter" @bind-Value="@interface_3" EmptyValue="No mapping">
                @foreach (var v in SimulationRuntimeManager.NetInterfaces)
                {
                    <MudSelectItem Value="@v.interfaceName">@v.interfaceName</MudSelectItem>
                }
                <MudSelectItem Value="@emptyString">NO MAPPING</MudSelectItem>
            </MudSelect>
        </div>
        <MudButton OnClick="() => { try { SimulationRuntimeManager.SetNetInterfaceBindings(); }catch (Exception e) { Snackbar.Add(e.Message, Severity.Error); } }">APPLY</MudButton>
    </DialogContent>
</MudDialog>