@using Siemens.Simatic.Simulation.Runtime
<MudDialog>
    <DialogContent>
        <div>
            <MudText Typo="Typo.h6">PLC Family: </MudText>
            <MudText> @selectedInstance.CPUType.ToString()</MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6">Strict Motion Timing: </MudText> <MudText> @selectedInstance.StrictMotionTiming.ToString()</MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6">Storage Path: </MudText> <MudText> @selectedInstance.StoragePath</MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6">Communication Interface: </MudText> <MudText> @selectedInstance.CommunicationInterface.ToString()</MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6">Operating Mode: </MudText> <MudText> @selectedInstance.OperatingMode.ToString()</MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6">System Time: </MudText> <MudText> @selectedInstance.SystemTime</MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6">Scale Factor: </MudText> <MudText> @selectedInstance.ScaleFactor.ToString()</MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6">Overwritten Minimal Cycle Time [ns]: </MudText> <MudText> @selectedInstance.OverwrittenMinimalCycleTime_ns.ToString()</MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6">Send Sync Event in Default Mode Enabled: </MudText> <MudText> @selectedInstance.IsSendSyncEventInDefaultModeEnabled.ToString()</MudText>
        </div>
    </DialogContent>
</MudDialog>