@using Siemens.Simatic.Simulation.Runtime


<MudDialog>
    <DialogContent>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Initialization</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>@SimulationRuntimeManager.IsInitialized</MudCardContent>
        </MudCard>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Runtime Manager Available </MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>@SimulationRuntimeManager.IsRuntimeManagerAvailable</MudCardContent>
        </MudCard>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Network Mode</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent> @SimulationRuntimeManager.NetworkMode</MudCardContent>
        </MudCard>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Net Interfaces</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>

                @foreach (var v in SimulationRuntimeManager.NetInterfaces)
                {
                    <div>@v.interfaceDescription</div>
                }
            </MudCardContent>
        </MudCard>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Strict Motion Timing </MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>@SimulationRuntimeManager.StrictMotionTiming</MudCardContent>
        </MudCard>
        <MudSpacer/>
        <MudCard Style="overflow-wrap:break-word;">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Default Storage Path</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>@SimulationRuntimeManager.DefaultStoragePath </MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Style="overflow-wrap:break-word;">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Port</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>@SimulationRuntimeManager.Port </MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Style="overflow-wrap:break-word;">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Version</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>@SimulationRuntimeManager.Version </MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Style="overflow-wrap:break-word;">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Remote Connection Info</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>
                    @if (SimulationRuntimeManager.RemoteConnectionInfo.Length == 0)
                    {
                        <div>No Remote Connections</div>
                    }
                    else
                    {
                        foreach (var v in SimulationRuntimeManager.RemoteConnectionInfo)
                        {
                            <div>@v.IP:@v.Port</div>
                        }
                    }
                </MudText>
            </MudCardContent>
        </MudCard>
    </DialogContent>
</MudDialog>

@code {

}